<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h4>{% block title %} Pls press button for redirect {% endblock %}</h4>
    <form action="/requirements/" target="_blank"><button>Requirements</button></form>
    <form action="/users/generate/" target="_blank"><button>Users</button></form>
    <form action="/mean/" target="_blank"><button>Mean</button></form>
    <form action="/space/" target="_blank"><button>Space</button></form>
</body>
</html>