<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mean</title>
</head>
<body>
  <form action="/" target="_blank"><button>Main page</button>
{% block content %}
    <h2>{% block title %} Mean of users: {% endblock %}</h2>
    <div  style="width: 75%; margin: left">
          {% for means in mean %}
        <div  style="padding: 2.5px; background-color: #e8e9f6; margin: 5px">
            <p  style="font-size: 20px">{{ means }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>