<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form action="/" target="_blank"><button>Main page</button>
{% block content %}
    <h2>{% block title %} List of users: {% endblock %}</h2>
    <div  style="width: 20%; margin: left">
          {% for news in new %}
        <div  style="padding: 2.5px; background-color: #e8e9f6; margin: 5px">
            <p  style="font-size: 20px">{{ news }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>